<% if current_user.owner? %>
  <%= render("admin_panel") %>
<% end %>

<div class="card mb-3 bg-dark text-light">
  <div class="card-header h3">
    <%= icon('fas','user-shield', t('.title'), class: 'fa-fw h2 mb-0') %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= render(partial: 'dashboard/room', collection: @rooms) %>
    </div>
  </div>
</div>
