<div class="card mb-3 bg-dark text-light">
  <div class="card-header h3">
    <%= icon('fas','ethernet', t('.title', port_number: @port.number), class: 'fa-fw h2 mb-0') %>
  </div>
  <div class="card-body">
    <%= render 'form', port: @port %>
  </div>
</div>
