:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}
