<div class="card mb-3">
  <div class="card-header">
    <%= icon('fas','home', class: 'fa-fw h2') %>
    <span class="h4"> <%= t('.title', computer_name: @computer.name) %> </span>
  </div>
  <div class="card-body">
    <%= render 'form', computer: @computer %>
  </div>
</div>
