<div class="card mb-3">
  <div class="card-header">
    <%= icon('fas','home', class: 'fa-fw h2') %>
    <span class="h4"> <%= t('.title') %> </span>
    <%= link_to(t('.new'), new_switch_path, class: "btn btn-primary float-right") %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= render(@switches) %>
    </div>
  </div>
</div>
