<div class="card mb-3 bg-dark text-light">
  <div class="card-header h3">
    <%= icon('fas','network-wired', t('.title'), class: 'fa-fw h2 mb-0') %>
    <%= link_to(t('.new'), new_switch_path, class: "btn btn-success float-right") %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= render(@switches) %>
    </div>
  </div>
</div>
