<div class="card mb-3 bg-dark text-light">
  <div class="card-header h3">
    <%= icon('fas','desktop', t('.title', room_name: @room.name), class: 'fa-fw h2 mb-0') %>
    <%= link_to(t('.new'), new_computer_path, class: "btn btn-success float-right") %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= render(@computers, back_to_room: true) %>
    </div>
  </div>
</div>
